.navbar-container{
  width: 90%;
  min-height: 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 0 1rem;
}

.navbar-logo{
  height: 2.5rem;
  width: 2.5rem;
  cursor: pointer;

}

.navbar-logo-img{
  height: 100%;
}

.navbar-profil{
  font-size: 2.5rem;

}